.panel.panel-default
  .panel-heading
    %h2 Show article
  .panel-body
    %p
      %b Title:
      = @article.title
    %p
      %b Text:
      = @article.text
    %h2 Comments
    - @article.comments.each do |comment|
      %blockquote
        %p
          = comment.body
        %footer
          by
          = comment.commenter


    %hr
    %h4 Add a comment:
    = bootstrap_form_for([@article, @article.comments.build]) do |f|
      %p
        = f.text_field :commenter
      %p
        = f.text_area :body
      %p
        = f.submit

  .panel-footer
    = link_to 'Edit', edit_article_path(@article)
    \|
    = link_to 'Back', articles_path
