!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TCC
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      .header.clearfix
        %nav
          %ul.nav.nav-pills.pull-right
            %li.active
              = link_to 'Home', root_path
        %h3.text-muted Getting Started Rails
      .row.marketing
        = yield
      %footer.footer
        %p © 2016 Company, Inc.
